#wrapper,
main,
#content,
#sidebar,
aside,
section{
	@include box;
}
.layout {
	@include box;
	width:1440px;
	margin:0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #526E3E;
}
