header {
	@include box;
	height: 100vh;
}

.menu {
	background-color:#526E3E;
	nav {
		padding: 30px 0 30px 47px;
		ul {
			display: flex;
		}
		li {
			padding-right: 35px;
		}	
		a {
			color: #FFF;
			font-size: 13px;
			&:hover {
				color: #F7931E;
				letter-spacing: 1px;
				transition: linear 300ms;
			}
		}
	}
}

.banner {
    background-image: url('../../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
    min-height: 100vh;
    position: relative;
    &__logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__text {
        color: #FFFFFF;
        font-size: 57px;
        font-weight: 700;
        position: absolute;
        left: 46%;
        transform: translateX(-38%);
        bottom: 90px;
		white-space:nowrap;
		@media (min-width: 768px) and (max-width: 1023px) {
			font-size: 40px;
		}
		@media (max-width: 767px) {
			font-size: 20px;
		}
    }
}