.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 0 98px;
    @media (max-width: 1023px) {
        margin: 50px 0;
    }
    @media (max-width: 767px) {
        margin: 30px;
    }
    &__text {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 45px;
        @media (max-width: 767px) {
            font-size: 22px;
            padding-left: 10px;
            margin-bottom: 30px;
        }
        
    }
    &__block {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1023px) {
            padding-bottom: 40px;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        } 
    }
    &__item {
        flex-basis: 24%;
        @media (max-width: 767px) {
            flex-basis: 100%;
        }
        img {
            @media (max-width: 767px) {
                display: block;
                margin: 0 auto;
            }
        }
    }
    p {
        font-weight: 700;
        font-size: 14px;
        text-align: center;
    }
    &__rect {
        height: 36px;
        background-color: #FDFBED;
        margin: 20px 0;
        @media (max-width: 1023px) {
            display: none;
        }
    }
}

.button {
    width: 180px;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    color: #526E3E;
    background-color: transparent;
    border: 1px solid #526E3E;
    border-radius: 3px;
    opacity: .8;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.banner-blue {
    background-image: url('../../images/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    &__text {
        width:100%;
        white-space:nowrap;
        span {
            font-size: 110px;
            color: #FDFBED;
            display:inline-block;
            padding-left:100%;
            -webkit-animation: marquee 10s infinite linear;
            animation: marquee 10s infinite linear;
            }
            
            @-webkit-keyframes marquee {
            0%{-webkit-transform: translate(0, 0);}
            100%{-webkit-transform: translate(-100%, 0);}
            }
            @keyframes marquee{
            0%{transform: translate(0, 0);}
            100%{transform: translate(-100%, 0)}
            }
                }
}

.info {
    margin: 90px 0;
    display: flex;
    flex-direction: column;
    @media (max-width: 1023px) {
        margin: 50px 0;
    }
    @media (max-width: 376px) {
        margin: 30px 0;
    }
    &__row {
        display: flex;
        justify-content: center;
    }
    &__text {
        width: 50%;
        display: flex;
        align-items: center;
        @media (max-width: 376px) {
            width: 80%;
            margin-bottom: 30px;
        }
    }
    &__picture {
        width: 50%;
        @media (max-width: 376px) {
            display: none;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    &__block {
        width: 50%;
        margin: 0 auto;
        @media (max-width: 1023px) {
            width: 75%;   
        }
        @media (max-width: 767px) {
            width: 95%;
        }
        p {
            margin-top: 23px;
            font-size: 17px;
            line-height: 24px;
            @media (min-width: 1024px) and (max-width: 1279px) {
                font-size: 14px;
                line-height: 20px;
                margin-top: 15px;
            }
            @media (max-width: 1023px) {
                font-size: 12px;
                margin-top: 5px;
            }
            @media (max-width: 767px) {
                margin-top: 10px;
                line-height: 14px;
            }
        }
        h3 {
            @media (max-width: 1023px) {
                font-size: 16px;
                line-height: 20px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }
    &__logo{
        margin-bottom: 48px;
        @media (max-width: 1279px) {
            margin-bottom: 30px;
        }
        @media (max-width: 1023px) {
            margin-bottom: 10px;
        }
        @media (max-width: 767px) {
            display: none;
        }
        @media (max-width: 376px) {
            display: block;
        }
    }
}
h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    @media (min-width: 1024px) and (max-width: 1279px) {
        font-size: 24px;
        line-height: 30px;
    }
}

.triggers {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icons {
        margin: 58px 0 90px;
        display: flex;
        width: 50%;
        justify-content: space-between;
        @media (max-width: 1279px) {
            width: 75%;
            margin: 50px 0 60px;
        }
        @media (max-width: 767px) {
            width: 90%;
            margin: 30px 0 40px;
        }
        @media (max-width: 376px) {
            width: 100%;
            flex-direction: column;
        }
        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 57px;
            @media (max-width: 376px) {
                max-width: 100%;
                margin-bottom: 30px;
            }
            span {
                text-align: center;
                padding-top: 22px;
                @media (max-width: 767px) {
                    font-size: 12px;
                }
                @media (max-width: 376px) {
                    font-size: 10px;
                    padding-top: 10px;
                }
            }
        }
        &__cover {
            height: 57px;
            line-height: 57px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.banner-girls {
    background-image: url('../../images/bannerG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 115px;
    &__text {
        font-size: 96px;
        line-height: 100px;
        font-weight: 700;
        width: 60%;
        margin-top: 40px;
        @media (min-width: 1024px) and (max-width: 1279px) {
            font-size: 72px;
            line-height: 80px;
        }
        @media (max-width: 1023px) {
            font-size: 50px;
            line-height: 60px;
        }
    }
    &__button {
        margin-top: 40px;
        @media (max-width: 1023px) {
            margin-top: 0;
        }
        @media (max-width: 767px) {
            margin-bottom: 45px;
        }
    }
}

.reviews {
    display: flex;
    justify-content: center;
    &__wrapper {
        margin: 150px 0 130px;
        display: flex;
        justify-content: space-between;
        flex-basis: 70%;
        @media (max-width: 1279px) {
            flex-basis: 90%;
            margin: 100px 0;
        }
        @media (max-width: 767px) {
            margin: 60px 0;
            flex-basis: 90%;
        }
        @media (max-width: 376px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__box {
        max-width: 282px;
        @media (max-width: 767px) {
            width: 80%;
        }
        @media (max-width: 376px) {
            margin-bottom: 30px;
        }
        p {
            font-size: 13px;
            line-height: 18px;
            margin-top: 18px;
            text-align: center;
        }
    }
    &__stars {
        display: flex;
        justify-content: space-around;
	    font-size: 0;
        span {
            padding: 0;
            font-size: 20px;
            line-height: 1;
            color: #F59BBB;
            &:before {
                content: '★';
            }
        }
    }
}

.collage {
    &__wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        img {
            display: block;
        }
    }
    &__caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        h5 {
            font-size: 38px;
            line-height: 44px;
            color: #FFF;
            font-weight: 700;
            @media (max-width: 767px) {
                text-align: center;
                font-size: 28px;
            }
        }
        p {
            font-size: 16px;
            line-height: 22px;
            color: #FFF;
            font-weight: 700;
            text-align: center;
        }
    }
}